/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente */
    margin: 0;
}

.container {
    text-align: center; /* Alinea el contenido del contenedor al centro */
}

h1 {
    margin-bottom: 20px; /* Espacio entre el título y los botones */
}

.button-container {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: darkblue;
}
