<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Menu Principal</h1>
        <div class="button-container">
            <button onclick="window.location.href='/ejercicio1'">Ejercicio Notas</button>
            <button onclick="window.location.href='/ejercicio2'">Ejercicio Nombres</button>
        </div>
    </div>
</body>
</html>
